@font-face {
  font-family: "A Arghavan";
  src: url("../font/A.Arghavan.ttf") format("truetype");
}
@font-face {
  font-family: "DUBAI-MEDIUM";
  src: url("../font/DUBAI-MEDIUM.TTF") format("truetype");
}
$Arghavan-font: "A Arghavan", sans-serif;
$DUBAI-MEDIUM-font: "DUBAI-MEDIUM", sans-serif;
